<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>top-info</title>
  </head>
  <body>
	<div style="display:inline-flex">
	{% for hai in tehai %}
 	<form action="/post" method="post">	
	<input type="image" src="{{url_for('static', filename=hai+'.gif')}}" alt="{{hai}}" />
	<input type="hidden" value="{{hai}}" name="hai" />
	<!--<button type="submit" name="m1" >
	  <img src="{{url_for('static', filename=hai+'.gif')}}" >
	</button>--> 
	</form>
	{% endfor %}
	</div>
  </body>
</html>
